* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
canvas {
  background-color: white;
}
h1, h2, h3, h4, h5, h6 {
  color: dodgerblue;
  text-align: center;
  font-weight: lighter;
}
h1 {
  margin: 2rem;
}
button.btn {
  color: #ccc;
  margin: 1rem;
  padding: .5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: .5rem;
  background-color: grey;
  transition-duration: 0.25s;
  cursor: pointer;
}
button.btn.selected {
  color: #eee;
  background-color: dodgerblue;
}
button.btn.green {
  color: #eee;
  background-color: #10941f;
}
button.btn:focus {
  outline: none;
  color: inherit;
}
button.btn:hover {
  color: white;
  box-shadow: 0 0 10px dodgerblue;
}
button.btn.green:hover {
  color: white;
  box-shadow: 0 0 10px limegreen;
}
.main {
  min-height: 90vh;
  position: relative;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.col {
  flex-direction: column;
}
.box {
  padding: 1rem;
  margin: 1rem auto;
  width: fit-content;
  border-radius: 1rem;
}
.box.blue {
  background-color: #e0e6f0;
  border: 1px solid dodgerblue;
}
.box.green {
  background-color: #e6f0e0;
  border-color: forestgreen;
}
.text-center {
  text-align: center;
}
.mono {
  font-family: monospace;
  color: #555;
  background-color: #ddd;
  padding: .25rem 1rem;
  border-radius: .25rem;
}
.space-1 {
  line-height: 1.2;
}
.space-1 {
  line-height: 1.5;
}
.relative {
  position: relative;
}
#ngl-root {
  width: 800px;
  height: 600px;
  border-radius: 15px;
  border: 1px solid grey;
}
#ngl-loading {
  position: absolute;
  top: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px;
}
#ngl-loading svg {
  width: 30%;
  height: 30%;
}
