html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  color: dodgerblue;
  text-align: center;
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
#ngl-root {
  width: 100%;
  height: 100%;
  background-color: #ddd;
}
